n8n-workflows-FIXED/6-GHL-Contact360-Processor-FINAL.json
{
  "name": "GHL Contact 360 Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When workflow is called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40b336dc-bbe5-44a5-9bdc-d41c3158d6fa",
              "name": "GHL_MCP_ENDPOINT",
              "value": "https://services.leadconnectorhq.com/mcp/",
              "type": "string"
            },
            {
              "id": "d64fd591-5f8e-42f9-b5d6-3acb8c4a09dc",
              "name": "GHL_API_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6ImNyTjJJaEF1T0JBbDdEODMyNHlJIiwidmVyc2lvbiI6MSwiaWF0IjoxNzQ5OTY5Njg5MjkxLCJzdWIiOiJnRFhtNHJJQjZJbjhxa3Q1dXpKWSJ9.HKfmsDYjb30fxRu6n40R39ED-NEuoWYhJjKvGtxjeUg",
              "type": "string"
            },
            {
              "id": "44b300a9-f78f-4ad5-8371-c6dec6607c1d",
              "name": "GHL_ACCESS_TOKEN",
              "value": "pit-84d7687f-d43f-4434-9804-c671c669dd0f",
              "type": "string"
            },
            {
              "id": "459a70a3-ee49-4ec0-89ff-dc6b7825ec8e",
              "name": "GHL_LOCATION_ID",
              "value": "crN2IhAuOBAl7D8324yI",
              "type": "string"
            },
            {
              "id": "contact-id-field",
              "name": "CONTACT_ID",
              "value": "={{ $('When workflow is called').item.json.contactId }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [380, 300],
      "id": "edit-fields-credentials",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.GHL_MCP_ENDPOINT }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.GHL_ACCESS_TOKEN }}"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $json.GHL_API_KEY }}"
            },
            {
              "name": "locationId",
              "value": "={{ $json.GHL_LOCATION_ID }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"contacts_get-contact\",\n    \"arguments\": {\n      \"path_contactId\": \"{{ $json.CONTACT_ID }}\"\n    }\n  }\n}"
      },
      "id": "ghl-get-contact",
      "name": "GHL - Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.GHL_MCP_ENDPOINT }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.GHL_ACCESS_TOKEN }}"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $json.GHL_API_KEY }}"
            },
            {
              "name": "locationId",
              "value": "={{ $json.GHL_LOCATION_ID }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 2,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"opportunities_search-opportunity\",\n    \"arguments\": {\n      \"locationId\": \"{{ $json.GHL_LOCATION_ID }}\",\n      \"contactId\": \"{{ $json.CONTACT_ID }}\",\n      \"limit\": 100\n    }\n  }\n}"
      },
      "id": "ghl-get-opportunities",
      "name": "GHL - Get Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.GHL_MCP_ENDPOINT }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.GHL_ACCESS_TOKEN }}"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $json.GHL_API_KEY }}"
            },
            {
              "name": "locationId",
              "value": "={{ $json.GHL_LOCATION_ID }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 3,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"contacts_get-all-tasks\",\n    \"arguments\": {\n      \"path_contactId\": \"{{ $json.CONTACT_ID }}\"\n    }\n  }\n}"
      },
      "id": "ghl-get-tasks",
      "name": "GHL - Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse SSE response\nconst parseSSE = (text) => {\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if (line.startsWith('data: ')) {\n      const data = line.slice(6);\n      if (data && data !== '[DONE]') {\n        try {\n          return JSON.parse(data);\n        } catch (e) {\n          console.error('Error parsing SSE:', e);\n        }\n      }\n    }\n  }\n  return null;\n};\n\nconst inputs = $input.all();\nlet contactData = inputs[0]?.json;\nlet opportunitiesData = inputs[1]?.json;\nlet tasksData = inputs[2]?.json;\n\n// Parse if needed\nif (typeof contactData === 'string') contactData = parseSSE(contactData);\nif (typeof opportunitiesData === 'string') opportunitiesData = parseSSE(opportunitiesData);\nif (typeof tasksData === 'string') tasksData = parseSSE(tasksData);\n\n// Extract nested result from tools/call response\nconst extractData = (response) => {\n  if (response?.result?.content) {\n    const content = response.result.content;\n    if (Array.isArray(content) && content[0]?.text) {\n      try {\n        const parsed = JSON.parse(content[0].text);\n        if (parsed.data) return parsed.data;\n      } catch (e) {}\n    }\n  }\n  return response?.result || response;\n};\n\nconst contactResult = extractData(contactData);\nconst opportunitiesResult = extractData(opportunitiesData);\nconst tasksResult = extractData(tasksData);\n\nconst contact = contactResult?.contact || {};\nconst opportunities = opportunitiesResult?.opportunities || [];\nconst tasks = tasksResult?.tasks || [];\n\n// Calculate total deal value\nconst totalDealValue = opportunities.reduce((sum, opp) => \n  sum + (parseFloat(opp.monetaryValue) || 0), 0\n);\n\n// Calculate deal score\nconst calculateDealScore = () => {\n  if (opportunities.length === 0) return 0;\n  \n  let score = 0;\n  \n  // Recent activity (30 points)\n  const lastActivity = new Date(contact.lastActivityAt || contact.dateAdded || 0);\n  const daysSinceActivity = (new Date() - lastActivity) / (1000 * 60 * 60 * 24);\n  if (daysSinceActivity <= 7) score += 30;\n  else if (daysSinceActivity <= 30) score += 15;\n  \n  // Deal value (30 points)\n  if (totalDealValue > 300000) score += 30;\n  else if (totalDealValue > 150000) score += 20;\n  else if (totalDealValue > 50000) score += 10;\n  \n  // Number of opportunities (20 points)\n  if (opportunities.length >= 3) score += 20;\n  else if (opportunities.length >= 2) score += 15;\n  else score += 10;\n  \n  // Active tasks (10 points)\n  if (tasks.length > 0) score += 10;\n  \n  // Contact quality (10 points)\n  if (contact.email && contact.phone) score += 10;\n  \n  return Math.min(score, 100);\n};\n\nconst dealScore = calculateDealScore();\n\nreturn {\n  json: {\n    contact: {\n      id: contact.id,\n      name: contact.name || `${contact.firstName || ''} ${contact.lastName || ''}`.trim(),\n      email: contact.email,\n      phone: contact.phone,\n      tags: contact.tags || [],\n      dateAdded: contact.dateAdded,\n      lastActivity: contact.lastActivityAt,\n      source: contact.source,\n      customFields: contact.customFields || {},\n      address: {\n        address1: contact.address1,\n        city: contact.city,\n        state: contact.state,\n        postalCode: contact.postalCode,\n        country: contact.country\n      }\n    },\n    opportunities: opportunities.map(opp => ({\n      id: opp.id,\n      name: opp.name,\n      value: parseFloat(opp.monetaryValue) || 0,\n      stage: opp.pipelineStage || opp.stageName || 'Sin etapa',\n      status: opp.status,\n      createdAt: opp.createdAt,\n      lastUpdate: opp.lastStatusChangeDate || opp.updatedAt\n    })),\n    tasks: tasks.map(task => ({\n      id: task.id,\n      title: task.title,\n      description: task.body,\n      status: task.status,\n      dueDate: task.dueDate,\n      completed: task.completed\n    })),\n    notes: [], // Notes not available via MCP API\n    timeline: [],\n    analytics: {\n      dealScore,\n      totalDealValue: Math.round(totalDealValue),\n      opportunitiesCount: opportunities.length,\n      tasksCount: tasks.length,\n      notesCount: 0,\n      engagementLevel: dealScore >= 70 ? 'high' : dealScore >= 40 ? 'medium' : 'low'\n    },\n    _metadata: {\n      processedAt: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "process-contact-360",
      "name": "Process Contact 360 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    }
  ],
  "connections": {
    "When workflow is called": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GHL - Get Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "GHL - Get Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "GHL - Get Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Get Contact": {
      "main": [
        [
          {
            "node": "Process Contact 360 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Get Opportunities": {
      "main": [
        [
          {
            "node": "Process Contact 360 Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GHL - Get Tasks": {
      "main": [
        [
          {
            "node": "Process Contact 360 Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
