n8n-workflows/1-API-Gateway-Main.json
{
  "name": "Selvadentro API Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "selvadentro",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "selvadentro-main"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "metrics"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "metrics"
            },
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "pipeline"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pipeline"
            },
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "contacts"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "contacts"
            },
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "contact360"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "contact360"
            },
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "hot-leads"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "hot-leads"
            },
            {
              "conditions": {
                "all": [
                  {
                    "type": "simple",
                    "leftValue": "={{ $json.query.endpoint }}",
                    "operator": "equals",
                    "rightValue": "follow-ups"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "follow-ups"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-endpoint",
      "name": "Route by Endpoint",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_METRICS }}"
      },
      "id": "execute-metrics",
      "name": "Execute Metrics Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_PIPELINE }}"
      },
      "id": "execute-pipeline",
      "name": "Execute Pipeline Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_CONTACTS }}"
      },
      "id": "execute-contacts",
      "name": "Execute Contacts Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_CONTACT360 }}"
      },
      "id": "execute-contact360",
      "name": "Execute Contact360 Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_HOTLEADS }}"
      },
      "id": "execute-hotleads",
      "name": "Execute HotLeads Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_FOLLOWUPS }}"
      },
      "id": "execute-followups",
      "name": "Execute FollowUps Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 600]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Endpoint": {
      "main": [
        [
          {
            "node": "Execute Metrics Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Pipeline Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Contacts Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Contact360 Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute HotLeads Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute FollowUps Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Metrics Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Pipeline Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Contacts Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Contact360 Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute HotLeads Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute FollowUps Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Selvadentro",
      "id": "selvadentro-api"
    }
  ],
  "meta": {
    "instanceId": "selvadentro-production"
  }
}
